/src/dictionaries/8/he.json filter=lfs diff=lfs merge=lfs -text
/src/dictionaries/9/he.json filter=lfs diff=lfs merge=lfs -text
/src/dictionaries/7/he.json filter=lfs diff=lfs merge=lfs -text
/src/dictionaries/8/tlh.json filter=lfs diff=lfs merge=lfs -text
